

.header{
    background: #000000;
    color: #fff;
    height: 60px;
}

.bottom{
    background-color: #ddd;
    height: 20px;
    padding: 10px;
    text-align: center;
}

.content{
    padding: 20px;
    text-align: center;
}

.menu{
    margin-top: 10px;
}

